.header {
    .header-top {
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
        text-align: right;

        a {
            margin-left: 10px;
        }
    }

    .breadcrumb {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        border-top: 2px solid #b307f7;

        .breadcrumb-title {
            text-align: center;
            font-size: 18px;
        }
        .weather {
            text-align: right;

            .date {
            }
            .weather-img {
                margin: 0 10px;
                width: 22px;
                vertical-align: text-bottom;
            }
            .weather-detail {
            }
        }
    }
}
